@font-face {
	font-family: 'Open Sans';
	src: 
		url('../fonts/open-sans/opensans-regular.woff') format('woff'),
		url('../fonts/open-sans/opensans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: 
		url('../fonts/open-sans/opensans-bold.woff') format('woff'),
		url('../fonts/open-sans/opensans-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: 
		url('../fonts/open-sans/opensans-italic.woff') format('woff'),
		url('../fonts/open-sans/opensans-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: 
		url('../fonts/open-sans/opensans-bolditalic.woff') format('woff'),
		url('../fonts/open-sans/opensans-bolditalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Spectral';
	src: 
		url('../fonts/spectral/SpectralSC-Regular.woff') format('woff'),
		url('../fonts/spectral/SpectralSC-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Spectral';
	src: 
		url('../fonts/spectral/SpectralSC-Bold.woff') format('woff'),
		url('../fonts/spectral/SpectralSC-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Spectral';
	src: 
		url('../fonts/spectral/SpectralSC-Italic.woff') format('woff'),
		url('../fonts/spectral/SpectralSC-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Spectral';
	src: 
		url('../fonts/spectral/SpectralSC-BoldItalic.woff') format('woff'),
		url('../fonts/spectral/SpectralSC-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}